<table>
  <thead>
    <tr>
      <td>Imágen</td>
      <td style="width: 10em;">Nombre</td>
      <td>Tamaños</td>
      <td>Fecha</td>
      <td></td>
    </tr>
  </thead>
  <% clips.each do |clip| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%= link_to image_tag( clip.media.url(:thumb) ), clip.media.url  %></td>
      <td><%= clip.name %></td>
      <td><%= number_to_human_size(clip.media.size) %> 
        <%= clip.media.content_type %><br/>
        (<%= clip.width %> x <%= clip.height %> px)</td>
      <td>subido hace <%= distance_of_time_in_words_to_now clip.created_at %></td>
      <td class="actions">
        <%= link_to 'Editar', edit_group_clip_path(clip.group, clip) %>
        <%= link_to 'Ver', clip.media.url %> 
        <%= link_to 'Borrar', group_clip_path(clip.group, clip), :confirm => 'Estás seguro!!!? No se puede deshacer!!', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>