<ul class="group">
  <li class="actions">
    <%= link_to( t('app.view'), {:controller => 'pages', :action => 'section', :id => group.name} ) if group.section? %>
    <%= link_to t('app.edit'), edit_group_path(group) %>
  </li>
  <li><label><%= Group.human_attribute_name(:title)%>: </label><%= group.title %></li>
  <li><label><%= Group.human_attribute_name(:name)%>: </label><%= group.name %></li>
  <li><label><%= Group.human_attribute_name(:color)%>: </label><%= group.color %></li>
  <li><label><%= Group.human_attribute_name(:section)%>: </label><%= group.section? ? 'Sí' : 'No' %></li>
  <% if group.background_id %>
    <li><label><%= Group.human_attribute_name(:background)%>: </label>
      <%= group.background.name %> (<%= number_to_human_size(group.background.media.size) %>
      <%= group.background.media.content_type %> <%= group.background.width %>x<%= group.background.height %>pixels)<br/>
      <%= image_tag group.background.media.url(:thumb) %>
    </li>
  <% end %>
</ul>
