<% title t('.title') %>
<div class="page">

  <table>
    <thead>
      <tr>
        <td style="width: 10em;">Fondo</td>
        <td>¿Es una sección?</td>
        <td>Título</td>
        <td>Nombre (y dirección)</td><td/>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group|  %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= image_tag group.background.media.url(:thumb) if group.background %></td>
          <td><%= group.section? ? 'Sí' : 'No' %></td>
          <td><%= link_to group.title, group %></td>
          <td><%= link_to("/#{group.name}", "/#{group.name}") if group.section? %></td>
          <td class="actions">
            <%= link_to 'Ver imágenes', group_path(group) %>
            <%= link_to 'Editar', edit_group_path(group) %>
            <%= link_to 'Ver en la web', "/#{group.name}" if group.section? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>