<% title (@group.title) %>
<% content_for :head do %>
  <style type="text/css">
    html, body {margin:0; padding:0; width:100%; height:100%; overflow: hidden;}
    body {font-family:verdana, arial, sans-serif; font-size:76%;}
    html {background-color: <%= @group.color %>;}
    #background{position:absolute; z-index:1; top: 0; left: 0; }
    .bg-height {height: 100%;}
    .bg-width {width: 100%;}
    #placeholder {position: absolute; z-index: 20;
                  left: 50%; top: 50%;
    }
    #placeholder img {border: 10px solid white; background-color: white;}

    #controls {position: fixed; left: 0; right: 0; bottom: 0; height: 200px;
            text-align: center; opacity: 1; z-index: 100; }
  </style>

  <script type="text/javascript">

    // images
  <% @group.clips.each do |clip| %>
      $.clismon.slideshow.add('<%= clip.media.url %>', <%= clip.width %>, <%= clip.height %>);
  <% end %>

    $(function () {
      $("#controls").controls();
      $.clismon.background('<%= @group.background_url %>', <%= @group.background_width %>, <%=  @group.background_height %> );
      $.clismon.slideshow.start();

      $("#previous").click(function() {$.clismon.slideshow.prev(); return false;})
      $("#next").click(function() {$.clismon.slideshow.next(); return false;})
    });
  </script>

<% end -%>

<div id="wrap">
  <div id="placeholder">&nbsp; </div>
</div>
<div id="controls">
  <%= link_to( image_tag('compartido/anterior-peq.png'), '#', :id => 'previous') %>
  <%= link_to( image_tag('compartido/atras-peq2.png'), '/') %>
  <%= link_to( image_tag('compartido/siguiente-peq.png'), '#', :id => 'next') %>
</div>

