
<div class="page">

  <h1>A ver qué hacemos aquí</h1>
  <div class="actions">
    <%= link_to 'Más buah!', new_post_path %>
    <%= link_to 'Subir cosillas', clips_path %>
    <%= link_to '¿Cómo quedó?', posts_path %>
  </div>
  <table>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, edit_post_path(post) %></td>
        <td>plantao hace <%= distance_of_time_in_words_to_now post.created_at %></td>
        <td></td>
        <td></td>
      </tr>
    <% end -%>
  </table>
</div>

