<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title><%= yield :title %> &#9733 Clismón</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Author" content="Miguel Brieva" />
    <meta name="Keywords" content="clismon, brieva, miguel" />
    <meta name="Description" content="Miguel Brieva web site" />
    <meta http-equiv="imagetoolbar" content="no" />
    <link rel="shortcut icon" href="/clismon.ico" type="image/x-icon" />
    <link rel="icon" href="/clismon.ico" type="image/ico" />
    <%= stylesheet_link_tag 'admin.css' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="user">
    </div>
    <div id="page">
      <div id="top">
        <h1><%= yield :title %></h1>
      </div>
      <div class="container">
        <div id="sitebar">
          <ul>
            <li class="top"><%= link_to 'Blog', '#'  %></li>
            <li class="top"><%= link_to 'Archivos', '#' %></li>
            <% @groups.each do |group|  %>
              <li><%= link_to group.name, group %></li>
            <% end %>
          </ul>
        </div>
        <div id="content">
          <%= yield %>
        </div>
      </div>
    </div>
    <div id="legal"></div>
  </body>
</html>
