<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= yield :title %> &#9733; Clismón</title>
    <script src="IE8.js" type="text/">IE7_PNG_SUFFIX=".png";</script>
    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
    <%= render :partial => '/layouts/head' %>
    <%= stylesheet_link_tag 'clismon.css' %>
    <!-- script type="text/javascript" src="iepngfix_tilebg.js"></script --!>

    <%= yield :head %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
