<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title><%= yield :title %> &#9733 Clismón</title>
    <%= render :partial => '/layouts/head' %>
    <%= stylesheet_link_tag 'clismon.css' %>
    <!--[if lt IE 7.]>
<script defer type="text/javascript" src="/javascripts/pngfix.js"></script>
<![endif]-->
    <%= yield :head %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
