<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= yield :title %> - Clismón</title>
    <script src="IE8.js" type="text/">IE7_PNG_SUFFIX=".png";</script>
    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
    <%= render :partial => '/layouts/head' %>
    <%= stylesheet_link_tag 'clismon.css' %>
    <!-- script type="text/javascript" src="iepngfix_tilebg.js"></script -->

    <%= yield :head %>
  </head>
  <body>

    <!--[if lt IE 7]>
 <div id="obsolete" style="position: absolute; border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; left: 0; right: 0; top: 0; height: 100%; width: 100%; bottom: 0; z-index: 21000;">
   <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
     <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='¡Aviso!'/></div>
     <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
       <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>Tu navegador está obsoleto y no funciona con esta página web.</div>
       <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>Para navegar por este sitio, por favor, actualiza su navegador. Recomenamos que uses Firefox.</div>
     </div>
     <div style='width: 75px; float: left;'><a href='http://www.mozilla-europe.org/es/firefox/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
     <div style='width: 75px; float: left;'><a href='http://www.microsoft.com/downloads/details.aspx?FamilyID=341c2ad5-8c3d-4347-8c03-08cdecd8852b&DisplayLang=es' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer 8'/></a></div>
     <div style='width: 73px; float: left;'><a href='http://www.apple.com/es/safari/download/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-safari.jpg' style='border: none;' alt='Get Safari 4'/></a></div>
     <div style='float: left;'><a href='http://www.google.com/chrome?hl=es' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
   </div>
 </div>
 <![endif]-->

    <%= yield %>
    </body>
</html>
